.DS_Store
.DS_Store?
._*
__pycache__
public_data/
public_data.zip


input_data
reference_data

models/DANN_saved/holdout.csv
models/DANN_saved/holdout_labels.csv
models/DANN_saved/holdout_weights.csv


models/DANN_saved/holdout.pkl
models/DANN_saved/holdout_labels.pkl
models/DANN_saved/holdout_weights.pkl